
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 48 72;
}

.left,
.right {
    width: auto;
}

.left,
.right,
.box,
.row-two {
    flex-direction: column;
}

.header,
.row-one,
.footer{
    background-color: #1f2937;
    color: white;
}

.row-one,
.row-two,
.row-three,
.row-four {
    padding: 36px 72px;
    flex: 1;
}
.header {
    align-items: center;
    justify-content: space-between;
    padding: 12px 72px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
}

li,
a,
.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.bold-text {
    font-size: 36px;
    font-weight: bold;
    justify-self: center;
}

.extra-bold-text {
    font-size: 48px;
    font-weight: bold;
}

button,
.banner {
    background-color: #3882f6;
    color: white;
    border-radius: 1em;
    justify-content: space-around;
}

button {
    width: 92px;
    margin: 1px;
}

.whiteborder {
    border: 1px solid white;
    
}

.row-one {
    justify-content: center;
}

.img {
    background-color: grey;
    justify-self: center;
    text-align: center;
}

.row-two {
    text-align: center;
    
}

.box-holders {
    justify-content: center;
    gap: 36px;
    padding-top: 24px;
}

.row-four {
    justify-content: center;
}

.banner {
    flex: 1;
    padding: 4px 24px;
}

.right {
    justify-content: center;
    align-items: flex-end;
}

.footer {
    margin-top: auto;
    justify-content: center;
    padding: 24px;
    color: lightgrey;
    font-size: 12px;
}

.box {
    align-items: center;
}

.blue-box {
    border-radius: 1em;
    background-color: white;
    border: 2px solid #3882f6;
    height: 120px;
    width: 120px;
}

.row-three {
    justify-content: center;
    background-color: lightgray;
}

.maintext {
    font-style: italic;
}