* {
    border: 1px solid red;
}
/* remove the border when finished */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 48 72;
}

.left,
.right {
    width: 50%;
}

.left,
.right,
.box,
.row-two {
    flex-direction: column;
}

.header,
.row-one,
.footer{
    background-color: #1f2937;
    color: white;
}

.row-one,
.row-two,
.row-three,
.row-four {
    padding: 36px 72px;
}
.header {
    align-items: center;
    justify-content: space-between;
    padding: 12px 72px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}

a {
    text-decoration: none;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
}

li,
a,
.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.bold-text {
    font-size: 48px;
    font-weight: extra-bold;
}

button,
.banner {
    background-color: #3882f6;
    color: white;
}

button {
    width: 92px;
    border-radius: 8%;
    margin: 1px;
}

.whiteborder {
    border: 1px solid white;
    
}

.row-one {
    justify-content: center;
}

.img {
    background-color: grey;
    justify-content: center;
    text-align: center;
}